.header {
  height: 100px;
  color: #e1e8ed;
  background-color: #434d56;
  font-size: 16px;
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headername {
  color: #e1e8ed;
  font-family: "ubuntu";
  font-weight: bolder;
  text-decoration: none;
}
.nav-link {
  color: #e1e8ed;
  margin: auto;
  margin-left: 30%;
}

.nav-link:hover {
  background-color: #3f4d57;
  border-radius: 10%;
  border-color: #3f4d57;
}

@media screen and (max-width: 480px) {
  .header {
    font-size: 60%;
  }
}

@media screen and (max-width: 375px) {
  .header {
    margin-top: 0px;
    font-size: 60%;
  }
  .headername {
    font-weight: bolder;
  }
  .nav {
    max-width: fit-content;
    justify-content: flex-start;
  }
}
