.resume-wrapper{
   display: flex;
   padding: 5%;
   justify-content: center;


}
.resume {
  border: none;
  padding: 25px;
  
}

.skills {
  flex-direction: row;
flex: 1 1 auto;
}

.techCol {
  flex-direction: column;
}

h2{
  border:none;
}




/* .container {
  height: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.techCol {
  margin: 20px;
  display: flex;
  flex-wrap: column;
  justify-content: space-around;
}
.skills{
  display: flex;
  flex-direction: row;
}
.resume {
  color: #e1e8ed;
  font-size: 20px;
}



*/
.resume-btn {
  color: #e1e8ed;
  background-color: #434d56;
  border-color: #434d56;
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.resume-btn:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 1px 2px;
} 

.resume-name {
  color: #e1e8ed;
  font-weight: bolder;
  position: relative;
}

@media screen and (max-width: 375px) {
  .resume-wrapper {
    padding: 0;
  }
  .resume-name {
    font-size: 16px;
  }
  .resume-skills {
    font-size: 16px;
  }
  li {
    font-size: 14px;
  }
} 
