.footer {
  height: 100px;
  color: #e1e8ed;
  background-color: #434d56;
  font-size: 14px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.socialIcons {
  color: #e1e8ed;
}
.socialIcons a:link,
a:visited {
  color: #55acee;
}
.socialIcons a {
  color: #e1e8ed;
}
.footercopywright {
  align-content: space-around;
}
.footericons {
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer {
    font-size: 70%;
  }
  .footer a {
    font-size: 70%;
  }
}
